Dockerfile
.dockerignore

# Node dependencies
node_modules

# pnpm store (if it were to be created locally within frontend, good to ignore)
.pnpm-store

# Next.js build output
.next

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Local .env file
.env*.local

# Test results
coverage

# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
